body{background-color: darkgray; flex: 0%; font-family: fantasy;}
header{color: rgba(1, 118, 172, 0.89); font-family: fantasy;}
h1{color: rgba(1, 118, 172, 0.89); font-family: fantasy;}
p{color: rgba(1, 118, 172, 0.89); font-family: fantasy;}
footer{color:rgba(1, 118, 172, 0.89); font-family: fantasy;}
